@model List<ASPCORECALISMA.Models.Urunler>

<div class="row">

    @foreach (var item in Model)
    {
           
        <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src=@item.UrunUrl1>
                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled">
                            <li><a class="btn btn-success text-white mt-2" href="/shopsingle/index/@item.UrunID"><i class="far fa-eye"></i></a></li>
                            <li><a class="btn btn-success text-white mt-2" href="/shopsingle/index/@item.UrunID"><i class="fas fa-cart-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="h3 text-decoration-none">@item.UrunAdi</a>
                    <hr />
                    <div style="overflow: hidden; width: 200px; height: 140px;">
                        <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">

                            <li>@item.UrunAciklama</li>
                            <li class="pt-2">
                                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                            </li>
                        </ul>
                    </div>
                    <a href="/shopsingle/index/@item.UrunID"><p style="width:100%;height:100%" class="btn btn-danger">@item.UrunFiyat TL</p></a>
                </div>
            </div>
        </div>
     
    }
</div>